<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.justreview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JustReview">
        <activity
            android:name=".Edit"
            android:exported="true" />
        <activity
            android:name=".UserLoginActivity"
            android:exported="true"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".FavoriteActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".CategoryActivity"
            android:exported="true" />

        <activity
            android:name=".AddBook"
            android:exported="true" />
        <activity
            android:name=".CommentDetails"
            android:exported="true" />
    </application>

</manifest>